{<<"links">>,[{<<"GitHub">>,<<"https://github.com/cignosystems/mqttx">>}]}.
{<<"name">>,<<"mqttx">>}.
{<<"version">>,<<"0.1.0">>}.
{<<"description">>,
 <<"Pure Elixir MQTT 3.1.1/5.0 library - codec, server, and client">>}.
{<<"elixir">>,<<"~> 1.15">>}.
{<<"app">>,<<"mqttx">>}.
{<<"licenses">>,[<<"Apache-2.0">>]}.
{<<"files">>,
 [<<"lib">>,<<"lib/mqttx.ex">>,<<"lib/mqttx">>,<<"lib/mqttx/transport">>,
  <<"lib/mqttx/transport/transport.ex">>,
  <<"lib/mqttx/transport/thousand_island.ex">>,
  <<"lib/mqttx/transport/ranch.ex">>,<<"lib/mqttx/payload">>,
  <<"lib/mqttx/payload/raw.ex">>,<<"lib/mqttx/payload/protobuf.ex">>,
  <<"lib/mqttx/payload/json.ex">>,<<"lib/mqttx/payload/payload.ex">>,
  <<"lib/mqttx/server">>,<<"lib/mqttx/server/server.ex">>,
  <<"lib/mqttx/server/router.ex">>,<<"lib/mqttx/application.ex">>,
  <<"lib/mqttx/client">>,<<"lib/mqttx/client/client.ex">>,
  <<"lib/mqttx/client/backoff.ex">>,<<"lib/mqttx/client/connection.ex">>,
  <<"lib/mqttx/packet">>,<<"lib/mqttx/packet/types.ex">>,
  <<"lib/mqttx/packet/properties.ex">>,<<"lib/mqttx/packet/varint.ex">>,
  <<"lib/mqttx/packet/codec.ex">>,<<"lib/mqttx/topic.ex">>,
  <<".formatter.exs">>,<<"mix.exs">>,<<"README.md">>,<<"LICENSE">>,
  <<"CHANGELOG.md">>]}.
{<<"requirements">>,
 [[{<<"name">>,<<"thousand_island">>},
   {<<"app">>,<<"thousand_island">>},
   {<<"optional">>,true},
   {<<"requirement">>,<<"~> 1.0">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"ranch">>},
   {<<"app">>,<<"ranch">>},
   {<<"optional">>,true},
   {<<"requirement">>,<<"~> 2.1">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"protox">>},
   {<<"app">>,<<"protox">>},
   {<<"optional">>,true},
   {<<"requirement">>,<<"~> 1.7">>},
   {<<"repository">>,<<"hexpm">>}]]}.
{<<"build_tools">>,[<<"mix">>]}.
